{% extends 'topsongs/base.html' %}
{% block content %}
<h4>My Subscriptions</h4>
<div class="collection">
    {% for playlist in playlists %}
    <li class="collection-item" style="list-style-type: none;">
        <div><a href="{% url 'playlist_info' playlist.id %}">{{ playlist.name }} by {{ playlist.user }}</a>
            <form action="{% url 'unsubscribe' playlist.id %}" class="secondary-content" method="POST">
                {% csrf_token %}
                <button type="submit" class="waves-effect waves-teal btn-flat"><i class="material-icons"
                        style="font-size: 30px;">delete</i></button>
            </form>
        </div>
    </li>
    {% endfor %}
</div>
{% endblock %}